page-user-settings {
    ion-item {
        // direction: initial !important;
    }
    ion-row {
        width: 100%;
    }
    .header-row {
        padding: 4px;
        min-height: 56px;
        font-size: 2.5rem;
        .full-height {
            height: 100%;
            color: #424242;
            ion-icon {
                margin: auto;
            }
            span {
                margin: auto;
            }
        }
    }
}