page-home {
  ion-header {
    background-color: map_get($colors, white);

    .toolbar-background {
      background-color: map_get($colors, white);
    }
  }
}

[dir="ltr"] page-home ion-header .toolbar-title-md {
  padding-left: 0 !important;
}

[dir="rtl"] page-home ion-header .toolbar-title-md {
  padding-right: 0 !important;
}
