page-home {
  ion-header {
    background-color: map_get($colors, white);

    .toolbar-background {
      background-color: map_get($colors, white);
    }
  }

  .search-bar {
    background-color: #f9f9f9;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;

    ion-icon[name=search] {
      color: map_get($colors, dark);
    }
    .item-inner {
      border-bottom: none !important;
    }
  }
}
