page-home {
  ion-header {
    background-color: map_get($colors, white);

    .toolbar-background {
      background-color: map_get($colors, white);
    }
  }

  .searchbar-input {
    direction: inherit;
  }
}
