fk-search-results-view {
  ion-header {
    background-color: map_get($colors, white);
    .toolbar-background {
      background-color: map_get($colors, white);
    }
  }

  ion-toolbar{
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: map_get($colors, white) !important;
  }
}
